:root {
  --sidenav-width: 240px;

  --join-max-width: 320px;

  --bg1: #000000;
  --bg2: #080808;
  --bg3: #101010;
  --bg4: #181818;
  --bg5: #202020;

  --input-color: #cfcfcf;
  --input-placeholder-color: #5f5f5f;
  --btn-color: #bfbfbf;

  --username-color: #9f9f9f;
  --id-color: #5f5f5f;

  --msg-time-color: #4f4f4f;
  --msg-author-color: #afafaf;
  --msg-content-color: #8f8f8f;
  --msg-content-secondary-color: #5f5f5f;
}

html,
* {
  text-rendering: optimizeLegibility;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: Helvetica;
  background-color: var(--bg2);
}

#app {
  height: 100vh;
  width: 100vw;
}

#sidenav {
  height: 100vh;
  min-width: var(--sidenav-width);
  background-color: var(--bg3);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#sidenav #footer {
  color: #4f4f4f;
  padding: 16px;
}

#sidenav #user-list {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  height: 400px;
  flex-direction: column;
}

#sidenav .container {
  padding: 8px 16px;
  transition: 50ms;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidenav .container:hover {
  background-color: var(--bg4);
}

#sidenav .container-self {
  margin-top: 16px;
}

#sidenav .container .status {
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 16px;
}

#sidenav .container .status.idle {
  background-color: #f4b033;
}
#sidenav .container .status.online {
  background-color: #18c86d;
}

#sidenav .container .username {
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  color: var(--username-color);
}

#sidenav .container .id {
  font-size: 12px;
  color: var(--id-color);
  margin-top: 4px;

  display: none;
}

#content-container {
  margin-left: var(--sidenav-width);
  padding: 64px 128px 0 128px;
  display: none;
}
#content {
  margin: auto;
}

#content #input {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
input {
  flex-grow: 1;
  background-color: var(--bg4);
  border-radius: 4px;
  height: 16px;
  padding: 8px 16px;
  color: var(--input-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

button {
  padding: 0 16px;
  background-color: var(--bg4);
  border-radius: 4px;
  transition: 50ms;
  color: var(--btn-color);
}

button:hover {
  background-color: var(--bg5);
}

#join {
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--join-max-width);
  gap: 16px;
  margin: auto;
  color: #5f5f5f;
}

#join #join-error {
  text-align: center;
}

#join #username {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#user-count {
  font-weight: bold;
  margin: 24px 16px 4px 16px;
  font-size: 12px;
  color: #4f4f4f;
}

#input #file-previews {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

#input #image-preview {
  height: 32px;
  border-radius: 4px;
}

#file-input {
  display: none;
}
